.infocontainer {
    justify-content: center;
}

.mat-form-field-infix {
    width: auto !important;
}

.container {
    margin-top: 15%;
    margin-left: -18%;
    margin-right: -18%;
}

.exerciseitem {
    margin-top: 2% !important; /* important because mat-card-content first child has margin top 0% */
    margin-right: 2%;
}
