<div class="infocontainer">
<h1>Welcome to the exercise program creator!</h1>
<h2>press the button to get started!</h2>
<button color="accent" *ngIf="!value" mat-raised-button (click)="newExerciseprogram()">Start</button>
</div>
<form *ngIf="value" [formGroup]="exerciseprogramForm" class="exerciseprogram-form" (ngSubmit)="saveexerciseprogram()">

    
    <mat-card class="container">
        <mat-card-header>
                <mat-form-field  class="formcontainer">
                <input type="text" id="exerciseprogramname" matInput placeholder="exerciseprorgamName" formControlName="name"/>
                </mat-form-field>
        </mat-card-header>
        <mat-card-content style="justify-content: center;"  >
            <div formArrayName="exercises" *ngFor="let exercise of exerciseprogramForm.get('exercises').controls; let i = index;">
            <mat-form-field>
            <input placeholder="exercise Name"  type="text" formControlName="exercisename"   matInput class="exerciseitem" />
            </mat-form-field>
            <mat-form-field>
            <input placeholder="exercise description" type="texarea" formControlName="exercisedesc" matInput class="exerciseitem"  />
            </mat-form-field>
            <mat-form-field>
            <input placeholder="exercise set" type="number" formControlName="exerciseset" matInput class="exerciseitem"  />
            </mat-form-field>
            <mat-form-field>
            <input placeholder="exercise reps" type="text" formControlName="exercisereps" matInput class="exerciseitem"  />
        </mat-form-field>
    </div>
        </mat-card-content>
        <mat-card-actions>
        <button color="accent" mat-raised-button (click)="addExercise()">Add exercise</button>
    </mat-card-actions>
    </mat-card>
    <button type="submit" mat-raised-button color="primary">Save!</button>
</form>