<div class="infoContainer">
  <h1>Welcome to the exerciseProgram lists!</h1>
  <h3>Here you can find all exerciseprograms you need.</h3>
  <h3>To access the details for a program please login</h3>
</div>

<mat-action-list *ngIf="authService.loggedIn()">
  <div *ngFor="let exerciseProgram of allPrograms.allPrograms ">
    <button mat-list-item (click)="details(exerciseProgram.name)">
      <h4 mat-line>{{exerciseProgram.name}}</h4>
      <p class="btn-label" mat-line>Click to see details</p>
    </button>
  </div>
</mat-action-list>

<mat-action-list *ngIf="!authService.loggedIn()" role="list">
  <div *ngFor="let exerciseProgram of allPrograms.allPrograms " role="listitem">
    <div mat-list-item *ngIf="!authService.loggedIn()" style="border: 1px solid black;">
      <h4 mat-line>{{exerciseProgram.name}}</h4>
    </div>
  </div>
</mat-action-list>