<section class="welcome-header">
  <h1>Welcome to ExerciseWorker</h1>
  <h2>This is a submission for mandatory assignment 2 in the ITWEB course on <a href="https://au.dk">Aarhus
      University</a></h2>
  <h3>You can view all exercise programs currently submitted by clicking
    <a [routerLink]="['/allexercise']"> here </a>
    or chosing the option in the top navigation bar.</h3>
</section>
<section class="welcome-body">
  <div layout="column" style="padding : 10px;">
    <mat-card>
      <h4>Made by:</h4>
      <p>Patrick Bjerregaard<br />Kristoffer Villadsen<br />Malthe Dalgaard Jensen</p>
    </mat-card>
  </div>
</section>
