<mat-card class="container" fxLayout="column" fxLayoutWrap>
    <mat-card class="innercards" > <!-- *ngFor="let ExerciseProgram for ExercisePrograms" -->
        <mat-card-header class="header">
            ExerciseProgramName
        </mat-card-header>
        <mat-card-content fxLayout="row">
            <div class="item">
                ExerciseprogramDesc
            </div>
            <div class="item">
                ExerciseprogramSet
            </div>
            <div class="item">
                ExerciseprogramReps
            </div class="item">
        </mat-card-content>
    </mat-card>
</mat-card>
