<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Mandatory assignment 2 - {{title}}</span>
    <span class="example-spacer"></span>
    <span *ngIf="loggedin" class="menu-item" routerLink="newExercise"><button mat-raised-button color="accent">Create New ExerciseProgram</button> </span>
    <span class="menu-item" routerLink="login"><button mat-raised-button color="accent">Login</button> </span>
    <span class="menu-item" routerLink="signup"><button mat-raised-button color="accent">Signup</button> </span>
    <span class="menu-item" routerLink="allexercise"><button mat-raised-button color="accent">See Exerciseprograms</button></span>

  </mat-toolbar-row>
</mat-toolbar>
<div class="main-div">
  <router-outlet></router-outlet>
</div>
