extends layout 

block content
    div.container.text-center
        h1 Workout Programs
        p Here you can see all your workout programs.
         form(action="/exerciseProgram/newExerciseProgram", method="post")
            div(class='form-input')
                label(for="name") 
                   b Name: 
                br
                input(type="text", name="name")
                button( type="submit" href="" class='btn btn-primary') Add new program
        a(href="" class='btn btn-primary') Log Workout

        

        
