extends layout

block content
  h1= title
  p Welcome to #{title}
  div.container.text-center
    form(method='POST' action='/login')
      div(class='form-input')
        b
          label Username:
        br
        input#studentName(type='text', name='username')
      div(class='form-input')
        b 
          label Password:
        br
        input(type='password', name='password')
      br
      button(type='submit' class='btn btn-primary') Login
      br
      br
      a(href="/signup" class='btn btn-secondary') Sign Up
