<mat-card class="container" fxLayout="column" fxLayoutWrap>
  <mat-card class="innercards" *ngIf="currentProgram">
    <!-- *ngFor="let Exercises for ExerciseProgram" -->
    <mat-card-header class="header">
      {{currentProgram.name}}
    </mat-card-header>
    <mat-card-content fxLayout="row" *ngFor="let exercise of currentProgram.exerciseProgram" class="card">
      <div class="item" fxFlex="12.5%">
        {{exercise.name}}
      </div>
      <div class="item" fxFlex="50%">
        {{exercise.description}}
      </div>
      <div class="item" fxFlex="12.5%">
        {{exercise.set}}
      </div>
      <div class="item" fxFlex="12.5%">
        {{exercise.repsOrTime}}
      </div>
      <div class="item" fxFlex="12.5%">
        <p *ngFor="let activity of exercise.activities"> Sets: {{activity.set ||"0"}} | Reps: {{activity.repsOrTime}}
        </p>
      </div>
      <button color="primary" mat-raised-button class="item" fxFlex="12.5"
        (click)="openActivitysheet(exercise, currentProgram)">Log Activity</button>
    </mat-card-content>
  </mat-card>
</mat-card>
