doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

  body
    #user
      if user
        a.menu(href="/logout" class="btn btn-warning") Logout
        a.menu(href="/exerciseProgram" class="btn btn-secondary") Take me Home
      else 
        a.menu(href="/signup" class="btn btn-warning") Signup
    block content 