.container {
  margin-top: 5%;
  margin-left: -5%;
  margin-right: -5%;
}

.item {
  margin-top: 2% !important;
  /* important because mat-card-content first child has margin top 0% */
  border: solid cornflowerblue 1px;
}

.card {
  width: 100%;
  min-width: 80vw;
}

.header {
  justify-content: center;
}

.subheader {
  color: lightgreen;
}
